  <div id="capture" class="account-exists">
    <div class="capture_header"><input type="button" name="backButton" value="" class="capture_backButton" id="capture_traditionalRegistration_backButton" /><h3>Account Already Exists</h3>
    </div>
        <div class="capture_extraPad capture_centerText">
          It looks like you’ve been here before. We already have an account for <strong>{emailAddress}</strong>.
        </div>
        <div class="capture_pad capture_centerText account-exists-buttons">
          <button class="capture_btn capture_primary capture_icon" href="#" id="button_signin">
            <span class="janrain-provider-icon-16 janrain-provider-icon-twitter"></span>
            <span class="capture_btn-label">Sign in to the existing account</span>
          </button>
          <button class="capture_btn capture_primary capture_icon" href="#" id="button_signin">
            <span class="janrain-provider-icon-16 janrain-provider-icon-google"></span>
            <span class="capture_btn-label">Continue creating a new account</span>
          </button>        
        </div>
</div>