  <div id="capture" class="account-info">
    <div class="capture_header"><input type="button" name="backButton" value="" class="capture_backButton" id="capture_traditionalRegistration_backButton" /><h3>Account Info</h3>
    </div>
        <div class="capture_backgroundColor capture_profile_section">
          <form id="capture_editProfileForm">
            <div class="capture_form_item" id="capture_form_item_displayName">
              <label for="input_display_name">Display Name</label>
              <input class="text" type="text" id="input_display_name" />
              <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
                  <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
                  </div>
              </div>
              <div class="capture_tip">This is a tip.</div>
              <div class="capture_tip_validating"></div>
              <div class="capture_tip_error"></div>
            </div>
            <div class="capture_form_item" id="capture_form_item_profileBlurb">
              <label for="input_about">About</label>
              <textarea class="text" id="textarea_about"></textarea>
              <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
                  <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
                  </div>
              </div>
              <div class="capture_tip" style="display: none;"></div>
              <div class="capture_tip_validating"></div>
              <div class="capture_tip_error"></div>
            </div>
            <div class="capture_form_item capture_validated" id="capture_form_item_location">
              <label for="input_location">Location</label>
              <input class="text" type="text" id="input_location" />
              <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
                  <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
                  </div>
              </div>
                <div class="capture_tip">This input has been validated.</div>
                <div class="capture_tip_validating"></div>
                <div class="capture_tip_error"></div>
            </div>
            <div class="capture_form_item" id="capture_form_item_gender">
              <label>Gender</label>
            <select id="capture_form_item_gender">
              <option value="1" disabled="disabled" >- -</option>
              <option value="2">Male</option>
              <option value="3">Female</option>            
            </select>
            <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
                <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
                </div>
            </div>
                <div class="capture_tip" style="display: none;"></div>
                <div class="capture_tip_validating"></div>
                <div class="capture_tip_error"></div>
            </div>
          <div class="capture_form_item" id="capture_form_item_firstName">
            <label>Name</label>
            <input class="text fname" type="text" />
            <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
                <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
                </div>
            </div>
            <div class="capture_tip" style="display: none;"></div>
            <div class="capture_tip_validating"></div>
            <div class="capture_tip_error"></div>
          </div>
          <div class="capture_form_item" id="capture_form_item_middleName">
            <input class="text middle" type="text" id="form_item_middleName" />
            <div class="capture_tip" style="display: none;"></div>
            <div class="capture_tip_validating"></div>
            <div class="capture_tip_error"></div>
          </div>
          <div class="capture_form_item" id="capture_form_item_lastName">
            <input class="text lname" type="text" id="form_item_lastName" />
            <div class="capture_tip" style="display: none;"></div>
            <div class="capture_tip_validating"></div>
            <div class="capture_tip_error"></div>
          </div>
          <div class="capture_form_item" id="capture_form_item_street_address">
            <label>Address</label>
            <input class="text" type="text" id="capture_form_item_address" />
            <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
                <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
                </div>
            </div>
            <div class="capture_tip" style="display: none;"></div>
            <div class="capture_tip_validating"></div>
            <div class="capture_tip_error"></div>
          </div>
            <div class="capture_form_item" id="capture_form_item_city">
              <input class="text" type="text" id="form_item_city" />
              <div class="capture_tip" style="display: none;"></div>
              <div class="capture_tip_validating"></div>
              <div class="capture_tip_error"></div>
            </div>
            <div class="capture_form_item" id="capture_form_item_stateprovince">
              <select class="text" type="text" id="form_item_state">
              <option>AL</option>
              <option>AK</option>
              </select>
              <div class="capture_tip" style="display: none;"></div>
              <div class="capture_tip_validating"></div>
              <div class="capture_tip_error"></div>
            </div>
            <div class="capture_form_item" id="capture_form_item_zippostalcode">
                <input class="text" type="text" id="form_item_zip" />
                <div class="capture_tip" style="display: none;"></div>
                <div class="capture_tip_validating"></div>
                <div class="capture_tip_error"></div>
            </div>
          <div class="capture_form_item capture_error" id="capture_form_item_email">
            <label>Email</label>
            <input class="text" type="email" id="input_email" />
            <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
                <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
                </div>
            </div>
            <div class="capture_tip" style="display: none;"></div>
            <div class="capture_tip_validating"></div>
            <div class="capture_tip_error">This is an error.</div>
          </div>
          <div class="capture_form_item capture_validating">
            <label>Phone</label>
            <input class="text" type="text" id="input_phone" />
            <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
                <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
                </div>
            </div>
            <div class="capture_tip" style="display: none;"></div>
            <div class="capture_tip_validating">This field is being validated.</div>
            <div class="capture_tip_error"></div>
        </div>
      </form>
        </div>
        <div class="capture_footer">
          <input class="capture_btn capture_secondary" value="Cancel" id="button_cancel" type="submit" />
          <input class="capture_btn capture_primary" value="Save" id="button_save" type="submit" />
        </div>
</div>