  <div id="capture" class="add-signin">
    <div class="capture_header"><input type="button" name="backButton" value="" class="capture_backButton" id="capture_traditionalRegistration_backButton" /><h3>Add Sign-in Method</h3>
    </div>
      <div class="content_main">
        <div class="capture_extraPad capture_centerText">
          We noticed you tried signing in with Twitter before. Would you like to add Twitter sign-in to your account?
        </div>
        <div class="capture_pad capture_centerText add-signin-buttons">
          <input class="capture_btn capture_secondary" value="No Thanks" id="button_noThanks" type="submit" />
          <input class="capture_btn capture_primary" value="Yes" id="button_yes" type="submit" />
        </div>
    </div>
  </div>
