  <div id="editProfileLayout" class="edit-profile">
    <div class="capture_header"><input type="button" name="backButton" value="" class="capture_backButton" id="capture_traditionalRegistration_backButton" /><h3>Edit your Profile</h3>
    </div>
    <div id="capture_photoManager" class="capture_subhead capture_pad">
      <div class="capture-edit-profile capture-edit-public_summary">
        <div id="profile_pic" class="default">
        {* profilePic *}
        </div>
        <ul class="options">
          <li><h3>{* displayName *}</h3></li>
          <li><h3>{* username *}</h3></li>
        </ul>
      </div>
    </div>    
  </div>
  <div class="capture_backgroundColor capture_profile_section capture_pad">
    <ul class="subMenu">
      <li><a href="#">Linked Accounts</a></li>
      <li><a href="#">Account Info <span class="grayText small">(About, Account Info, etc.)</span></a></li>
      <li><a href="#">Password</a></li>
    </ul>
    <input type="button" id="button_signout" class="capture_btn capture_secondary" value="Sign Out" />
  </div>
