<div class="instructions">
	  <h3>Basic Classes</h3>
		<div class="grid-block">
		  <div class="col_3">
  		  <div class="capture_pad border">
  		    <dl>
  		      <dt>class="capture_pad"</dt>
  		      <dd>10px of capture_padding all around</dd>
  		    </dl> 
  		  </div>
  		</div>
		  <div class="col_3">
  		  <div class="capture_extraPad border">
  		    <dl>
  		      <dt>class="capture_extraPad"</dt>
  		      <dd>25px of capture_padding all around</dd>
  		    </dl> 
  		  </div>
  		</div>
		  <div class="col_3">
  		  <div class="capture_centerText border capture_pad">
  		    <dl>
  		      <dt>class="capture_centerText"</dt>
  		      <dd>text-align: center</dd>
  		    </dl> 
  		  </div>
		  </div>
		  <div class="col_3">
  		  <div class="small capture_pad border">
  		    <dl>
  		      <dt>class="small"</dt>
  		      <dd>small text</dd>
  		    </dl> 
  		  </div>
		  </div>
  </div>
  <div class="grid-block">
    <div class="col_3">
      <h3>Color With Color</h3>
      <div class="capture_backgroundColor capture_pad">class="capture_backgroundColor"</div>
      <div class="capture_footer">class="capture_footer"</div>
      <div><a href="#" class="grayText">class="grayText" Gray text link</a></div>
    </div>
    <div class="col_3">
      <h3>Buttons</h3>
      <a class="capture_btn capture_secondary">class="capture_btn capture_secondary"</a><br />
      <a class="capture_btn capture_primary">class="capture_btn capture_primary"</a><br />
      <a id="capture_backButton" class="capture_btn capture_standard"><span class="janrain-icon-back janrain-icon-16"></span></a> &nbsp;id="capture_backButton" class="capture_btn capture_standard"<br />
    </div>
    <div class="col_6">
      <h3>Provider Buttons</h3>
      <button id="button_signin" href="#" class="capture_btn capture_primary capture_icon">
        <span class="janrain-provider-icon-16 janrain-provider-icon-google"></span>
        <span class="capture_btn-label">Label</span>
      </button>
      <a id="id" href="#" class="capture_btn capture_primary capture_icon">
        <span class="janrain-provider16-facebook"></span>
        <span class="capture_btn-label">Label</span>
      </a>
<pre class="brush: html; toolbar: false"><a id="id" href="#" class="capture_btn capture_primary capture_icon">
  <span class="sixteen-facebook"></span>
  <span class="capture_btn-label">Label</span>
</a>
</pre>
    </div>
  </div>
      <h3>Radio Buttons</h3>
    <div class="capture_form_item">
        <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
            <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
            </div>
        </div>
    </div>

<pre class="brush: html; toolbar: false"><div class="capture_display_radios">
        <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
            <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
            </div>
        </div>
</div></pre>
      <h3>Provider Lists</h3>
          <ul class="capture_provider linked-account-list">
            <li>
              <span class="icon janrain-provider-icon-16 janrain-provider-icon-facebook"></span>
              <span class="user-name">Label</span>
            </li>
            <li>
              <span class="icon janrain-provider-icon-16 janrain-provider-icon-twitter"></span>
              <span class="user-name">Label</span>
              <span class="remove-linked-account"></span>
            </li>
          </ul>
      <br />
<pre class="brush: html; toolbar: false"><ul class="capture_provider linked-account-list">
  <li>
    <span class="icon janrain-provider-icon-16 janrain-provider-icon-facebook"></span>
    <span class="user-name">Label</span>
    <span class="remove-linked-account"></span>
  </li>
  <li>
    <span class="icon janrain-provider-icon-16 janrain-provider-icon-twitter"></span>
    <span class="user-name">Label</span>
    <span class="remove-linked-account"></span>
  </li>
</ul></pre>
      
    </div>