  <div id="capture" class="linked-accounts">
    <div class="capture_header"><input type="button" name="backButton" value="" class="capture_backButton" id="capture_traditionalRegistration_backButton" /><h3>Linked Accounts</h3>
    </div>
    <div class="capture_profile_section capture_backgroundColor">
      <div class="capture_form_item">
        <label>Your linked accounts</label>
        <ul class="capture_provider linked-account-list">
          <li>
            <span class="icon janrain-provider-icon-16 janrain-provider-icon-facebook"></span>
            <span class="user-name">Facebook Name</span>
            <span class="remove-linked-account"></span>
          </li>
          <li>
            <span class="icon janrain-provider-icon-16 janrain-provider-icon-twitter"></span>
            <span class="user-name">Twitter username</span>
            <span class="remove-linked-account"></span>
          </li>
        </ul>
        <div id="capture_editProfileLayout_display_toggle_wrap_editProfile_addressDrop[streetaddress]" class="capture_display_toggle_wrap capture_display_toggle_wrap_editProfile_addressDrop_streetaddress_">
            <div id="capture_editProfileLayout_display_indicator_public_editProfile_addressDrop[streetaddress]" class="capture_display_toggle capture_public capture_toggled capture_display_indicator_public_editProfile_addressDrop_streetaddress_">&nbsp;public <span class="janrain-icon-unlocked janrain-icon-16"></span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="capture_footer">
    <input class="capture_btn capture_secondary" value="Cancel" id="button_cancel" type="submit" />
    <input class="capture_btn capture_primary" value="Save" id="button_save" type="submit" />
  </div>
