  <div  id="publicProfile" class="public-profile">
    <div class="capture_header"><input type="button" name="backButton" value="" class="capture_backButton" id="capture_traditionalRegistration_backButton" />
      <h3>My Profile</h3>
      <a href="#" class="capture_edit capture_btn capture_secondary">Edit</a>
    </div>
        <div class="capture-public-profile capture-public-public_summary">
            <div id="profile_pic" class="default">
                {* profilePic *}
            </div>
            <div class="capture-public-profile capture-public-displayName">
              <h3>{* displayName *}</h3>
              <div class="capture-public-profile-field">{* profileBlurb *}</div>
            </div>
        </div>    
        <div class="capture-personal_info capture_profile_section capture_backgroundColor">
            <h3>Personal Info</h3>
            <div class="capture-public-profile capture-public-username">
                <div class="capture-public-profile-field">{* firstName *} {* middleName *} {* lastName *}</div>
            </div>
            <div class="capture-public-profile capture-public-emailaddress">
                <div class="capture-public-profile-field">{* emailAddress *}</div>
            </div>
            <div class="capture-public-profile capture-public-phone">
                <div class="capture-public-profile-field">{* phoneNumber *}</div>
            </div>
            <div class="capture-public-profile capture-public-location">
                <div class="capture-public-profile-field">{* location *}</div>
            </div>
            <div class="capture-public-profile capture-public-address">
                <div class="capture-public-profile-field">{* address *}<br />{* city *} {* state *}, {* zip *}</div>
            </div>
            <div class="capture-public-profile capture-public-gender">
                <div class="capture-public-profile-label">Gender:</div>
                <div class="capture-public-profile-field">{* gender *}</div>
            </div>
            <div class="capture-public-profile capture-public-birthdate">
                <div class="capture-public-profile-label">Birthday:</div>
                <div class="capture-public-profile-field">{* birthdate *}</div>
            </div>
        </div>
  </div>
