  <div id="demo" class="janrain-capture-ui">
    <div class="capture_header"><h3>Sign Up / Sign In</h3></div>
      <div class="content_main">
        <div class="capture_subhead">
          <h3>With your existing account from</h3>
        </div>
        <div class="engage_widget">
        Engage widget
      </div>
      <div class="capture_subhead">
        <h3>With a traditional account</h3>
      </div>
      <div class="form_housing capture_backgroundColor capture_pad capture_signInOption">
          <form accept-charset="UTF-8" autocomplete="off" class="signin_legacy" id="signin_legacy_form" method="post">
            <div class="form_fields">
                <div id="signin_errors" class="capture_tip_error display_none"></div>
                  <div class="capture_form_item no_focus required" id="email_form_item">
                    <label class="form_label" for="email_input"></label>
                    <input class="text" id="email_input" name="email" placeholder="email address" type="text" />
                    <div class="capture_tip" style="display: none;"></div>
                    <div class="capture_tip_validating"></div>
                    <div class="capture_tip_error"></div>
                </div>
            </div>
            <div class="capture_form_item required" id="password_form_item">
              <label class="form_label" for="password_input"></label>
              <input id="password_input_autofill" class="text" type="text" placeholder="password" />
              <div class="capture_tip" style="display: none;"></div>
              <div class="capture_tip_validating"></div>
              <div class="capture_tip_error"></div>
            </div>
            <div class="submit_form_housing capture_form_item capture_rightText">
              <input class="capture_btn capture_primary" value="Sign In" id="signin" type="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>