<div id="socialRegistration" style="display: block;" class="janrain-capture-ui capture-ui-content" data-captureventadded="true">
            <div class="capture_header">
                <input type="button" name="backButton" value="" data-capturefield="backButton" class="capture_backButton" id="capture_socialRegistration_backButton">
                <h3>Almost Done!</h3>
            </div>
              <h3>Please confirm the information below before signing in.</h3>
                <form method="POST" class="capture_form capture_socialRegistrationForm" action="" data-capturefield="socialRegistrationForm" name="socialRegistrationForm" id="capture_socialRegistration_socialRegistrationForm" next="{&quot;action&quot;:&quot;getCaptureToken&quot;}"><input type="hidden" name="utf8" value="✓" data-capturefield="undefined" class="capture_utf8" id="capture_socialRegistration_utf8">
                                
                    <div class="capture_form_item capture_email capture_form_item_socialRegistration_emailAddress" id="capture_socialRegistration_form_item_socialRegistration_emailAddress">
                        <label for="capture_socialRegistration_socialRegistration_emailAddress">Email Address</label>
                        <input type="email" name="socialRegistration_emailAddress" value="" data-capturefield="socialRegistration_emailAddress" class="capture_socialRegistration_emailAddress" id="capture_socialRegistration_socialRegistration_emailAddress">
                        <div class="capture_tip">Will not be shared without your permission</div>
                        <div data-elementname="socialRegistration_emailAddress" class="capture_tip_validating">Validating</div>
                        <div data-elementname="socialRegistration_emailAddress" class="capture_tip_error"></div>
                    </div>
                    <div class="capture_form_item capture_text capture_form_item_socialRegistration_displayName" id="capture_socialRegistration_form_item_socialRegistration_displayName">
                        <label for="capture_socialRegistration_socialRegistration_displayName">Display Name</label>
                        <input type="text" name="socialRegistration_displayName" value="" data-capturefield="socialRegistration_displayName" class="capture_socialRegistration_displayName capture_text" id="capture_socialRegistration_socialRegistration_displayName">
                        <div class="capture_tip">A name to use on this site</div>
                        <div data-elementname="socialRegistration_displayName" class="capture_tip_validating">Validating</div>
                        <div data-elementname="socialRegistration_displayName" class="capture_tip_error"></div>
                    </div>
                    <div class="capture_form_item capture_form_item_socialRegistration_ageVerification" id="capture_socialRegistration_form_item_socialRegistration_ageVerification">
                        <div class="capture_checkbox capture_form_item_inner_socialRegistration_ageVerification" id="capture_socialRegistration_form_item_inner_socialRegistration_ageVerification">
                        <label for="capture_socialRegistration_socialRegistration_ageVerification">
                            <input type="checkbox" name="socialRegistration_ageVerification" value="unchecked" data-capturefield="socialRegistration_ageVerification" class="capture_socialRegistration_ageVerification" id="capture_socialRegistration_socialRegistration_ageVerification">I am 18 years of age or older
                        </label>
                        </div>
                        <div style="display:none;" class="capture_tip"></div>
                        <div data-elementname="socialRegistration_ageVerification" class="capture_tip_validating">Validating</div>
                        <div data-elementname="socialRegistration_ageVerification" class="capture_tip_error"></div>
                    </div>
                <div class="capture_footer">
                    <input type="submit" name="socialRegistration_signInButton" value="Sign In" data-capturefield="socialRegistration_signInButton" class="capture_socialRegistration_signInButton capture_btn capture_primary" id="capture_socialRegistration_socialRegistration_signInButton">
                </div>
                </form>
        </div>