<div id="traditionalRegistration" style="display: block;" class="janrain-capture-ui capture-ui-content" data-captureventadded="true">
            <div class="capture_header">
                <input type="button" name="backButton" value="" data-capturefield="backButton" class="capture_backButton" id="capture_traditionalRegistration_backButton">
                <h3>Almost Done!</h3>
            </div>
                <form method="POST" class="capture_form capture_registrationForm" action="http://localhost:5012/widget/traditional_register.jsonp" name="registrationForm" id="capture_traditionalRegistration_registrationForm">                

                    <div class="capture_form_item capture_email capture_form_item_traditionalRegistration_emailAddress" id="capture_traditionalRegistration_form_item_traditionalRegistration_emailAddress"><label for="capture_traditionalRegistration_traditionalRegistration_emailAddress">Email Address</label><input type="email" name="traditionalRegistration_emailAddress" value="" data-capturefield="traditionalRegistration_emailAddress" class="capture_traditionalRegistration_emailAddress" id="capture_traditionalRegistration_traditionalRegistration_emailAddress">
                        <div class="capture_tip">Required. This is your username for the site.</div>
                        <div data-elementname="traditionalRegistration_emailAddress" class="capture_tip_validating">Validating</div>
                        <div data-elementname="traditionalRegistration_emailAddress" class="capture_tip_error"></div>
                    </div>
                    <div class="capture_form_item capture_password capture_form_item_traditionalRegistration_password" id="capture_traditionalRegistration_form_item_traditionalRegistration_password">
                        <label for="capture_traditionalRegistration_traditionalRegistration_password">Password</label>
                        <input type="password" name="traditionalRegistration_password" value="" data-capturefield="traditionalRegistration_password" class="capture_traditionalRegistration_password" id="capture_traditionalRegistration_traditionalRegistration_password">
                        <div class="capture_tip">Must be at least 6 characters</div>
                        <div data-elementname="traditionalRegistration_password" class="capture_tip_validating">Validating</div>
                        <div data-elementname="traditionalRegistration_password" class="capture_tip_error"></div>
                    </div>
                    <div class="capture_form_item capture_password capture_form_item_traditionalRegistration_passwordConfirm" id="capture_traditionalRegistration_form_item_traditionalRegistration_passwordConfirm">
                        <label for="capture_traditionalRegistration_traditionalRegistration_passwordConfirm">Password Confirm</label>
                        <input type="password" name="traditionalRegistration_passwordConfirm" value="" data-capturefield="traditionalRegistration_passwordConfirm" class="capture_traditionalRegistration_passwordConfirm" id="capture_traditionalRegistration_traditionalRegistration_passwordConfirm">
                        <div class="capture_tip">Re-type your password</div>
                        <div data-elementname="traditionalRegistration_passwordConfirm" class="capture_tip_validating">Validating</div>
                        <div data-elementname="traditionalRegistration_passwordConfirm" class="capture_tip_error"></div>
                    </div>
                    <div class="capture_form_item capture_text capture_form_item_traditionalRegistration_displayName" id="capture_traditionalRegistration_form_item_traditionalRegistration_displayName">
                        <label for="capture_traditionalRegistration_traditionalRegistration_displayName">Display Name</label>
                        <input type="text" name="traditionalRegistration_displayName" value="" data-capturefield="traditionalRegistration_displayName" class="capture_traditionalRegistration_displayName capture_text" id="capture_traditionalRegistration_traditionalRegistration_displayName">
                        <div class="capture_tip">A name to use on this site</div>
                        <div data-elementname="traditionalRegistration_displayName" class="capture_tip_validating">Validating</div>
                        <div data-elementname="traditionalRegistration_displayName" class="capture_tip_error"></div>
                    </div>
                    <div class="capture_form_item capture_text capture_form_item_traditionalRegistration_firstName" id="capture_traditionalRegistration_form_item_traditionalRegistration_firstName">
                        <label for="capture_traditionalRegistration_traditionalRegistration_firstName">First Name</label>
                        <input type="text" name="traditionalRegistration_firstName" placeholder="First" value="" data-capturefield="traditionalRegistration_firstName" class="capture_traditionalRegistration_firstName capture_text" id="capture_traditionalRegistration_traditionalRegistration_firstName">
                        <div class="capture_tip">Required</div>
                        <div data-elementname="traditionalRegistration_firstName" class="capture_tip_validating">Validating</div>
                        <div data-elementname="traditionalRegistration_firstName" class="capture_tip_error"></div>
                    </div>
                    <div class="capture_form_item capture_text capture_form_item_traditionalRegistration_lastName" id="capture_traditionalRegistration_form_item_traditionalRegistration_lastName">
                        <label for="capture_traditionalRegistration_traditionalRegistration_lastName">Last Name</label>
                        <input type="text" name="traditionalRegistration_lastName" placeholder="Last" value="" data-capturefield="traditionalRegistration_lastName" class="capture_traditionalRegistration_lastName capture_text" id="capture_traditionalRegistration_traditionalRegistration_lastName">
                        <div class="capture_tip">Required</div>
                        <div data-elementname="traditionalRegistration_lastName" class="capture_tip_validating">Validating</div>
                        <div data-elementname="traditionalRegistration_lastName" class="capture_tip_error"></div>
                    </div>
                    <div class="capture_form_item capture_form_item_traditionalRegistration_ageVerification" id="capture_traditionalRegistration_form_item_traditionalRegistration_ageVerification"><div class="capture_checkbox capture_form_item_inner_traditionalRegistration_ageVerification" id="capture_traditionalRegistration_form_item_inner_traditionalRegistration_ageVerification">
                        <label for="capture_traditionalRegistration_traditionalRegistration_ageVerification">
                        <input type="checkbox" name="traditionalRegistration_ageVerification" value="unchecked" data-capturefield="traditionalRegistration_ageVerification" class="capture_traditionalRegistration_ageVerification" id="capture_traditionalRegistration_traditionalRegistration_ageVerification">I am 18 years of age or older</label></div>
                        <div style="display:none;" class="capture_tip"></div>
                        <div data-elementname="traditionalRegistration_ageVerification" class="capture_tip_validating">Validating</div>
                        <div data-elementname="traditionalRegistration_ageVerification" class="capture_tip_error"></div>
                    </div>
                <div class="capture_footer">
                    <div class="label">By clicking "Create Account", you confirm that you accept our <a href="http://www.cnn.com">terms of service</a> and have read and understand <a href="http://widipedia.org">privacy policy</a>.</div>
                    <div class="capture_btn_wrapper">
                    <input type="submit" name="createAccountButton" value="Create Account" data-capturefield="createAccountButton" class="capture_createAccountButton capture_btn capture_primary" id="capture_traditionalRegistration_createAccountButton">
                    </div>
                </div>
                </form>
        </div>