<div class="wrapper section">
  <h1>Provider Lists</h1>
  <div class="grid-block">
      <div class="col_8">
      <h4>48 x 48 (class="janrain-provider-icon-48 janrain-provider-icon-*")</h4>
        <span class="janrain-provider-icon-48 janrain-provider-icon-facebook"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-twitter"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-myspace"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-microsoftaccount"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-live_id"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-yahoo"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-google"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-instagram"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-openid"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-amazon"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-aol"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-livejournal"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-mixi"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-myopenid"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-netlog"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-flickr"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-blogger"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-verisign"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-wordpress"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-hyves"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-linkedin"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-paypal"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-salesforce"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-orkut"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-vzn"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-foursquare"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-sinaweibo"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-renren"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-soundcloud"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-tumblr"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-disqus"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-vk"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-email"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-placeholder"></span>
        <h4>Grayscale Icons (class="janrain-provider{size}-grayscale-*")</h4>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-facebook"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-twitter"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-myspace"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-microsoftaccount"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-live_id"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-yahoo"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-google"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-instagram"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-openid"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-amazon"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-aol"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-livejournal"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-mixi"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-myopenid"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-netlog"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-flickr"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-blogger"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-verisign"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-wordpress"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-hyves"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-linkedin"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-paypal"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-salesforce"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-orkut"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-vzn"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-foursquare"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-sinaweibo"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-renren"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-soundcloud"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-tumblr"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-disqus"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-vk"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-email"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-grayscale-placeholder"></span>
    <h4>Icons With White Background (add class="janrain-provider-icon-bg")<br /> Only icons that require a bg will receive it.</h4>
        <span class="janrain-provider-icon-48 janrain-provider-icon-twitter janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-myspace janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-openid janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-amazon janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-aol janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-livejournal janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-mixi janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-myopenid janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-netlog janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-flickr janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-verisign janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-paypal janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-orkut janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-sinaweibo janrain-provider-icon-bg"></span>
        <span class="janrain-provider-icon-48 janrain-provider-icon-renren janrain-provider-icon-bg"></span>
      </div>
      <div class="col_4">
      <h4>32 x 32 (class="janrain-provider-icon-32 janrain-provider-icon-*")</h4>
        <span class="janrain-provider-icon-32 janrain-provider-icon-facebook"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-twitter"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-myspace"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-microsoftaccount"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-live_id"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-yahoo"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-google"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-instagram"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-openid"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-amazon"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-aol"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-livejournal"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-mixi"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-myopenid"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-netlog"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-flickr"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-blogger"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-verisign"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-wordpress"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-hyves"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-linkedin"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-paypal"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-salesforce"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-orkut"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-vzn"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-foursquare"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-sinaweibo"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-renren"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-soundcloud"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-tumblr"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-disqus"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-vk"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-email"></span>
        <span class="janrain-provider-icon-32 janrain-provider-icon-placeholder"></span>
      <h4>24 x 24 (class="janrain-provider-icon-24 janrain-provider-icon-*")</h4>
        <span class="janrain-provider-icon-24 janrain-provider-icon-facebook"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-twitter"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-myspace"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-microsoftaccount"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-live_id"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-yahoo"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-google"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-instagram"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-openid"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-amazon"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-aol"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-livejournal"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-mixi"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-myopenid"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-netlog"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-flickr"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-blogger"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-verisign"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-wordpress"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-hyves"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-linkedin"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-paypal"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-salesforce"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-orkut"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-vzn"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-foursquare"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-sinaweibo"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-renren"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-soundcloud"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-tumblr"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-disqus"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-vk"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-email"></span>
        <span class="janrain-provider-icon-24 janrain-provider-icon-placeholder"></span>
      <h4>16 x 16 (class="janrain-provider-icon-16 janrain-provider-icon-*")</h4>
        <span class="janrain-provider-icon-16 janrain-provider-icon-facebook"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-twitter"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-myspace"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-microsoftaccount"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-live_id"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-yahoo"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-google"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-instagram"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-openid"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-amazon"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-aol"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-livejournal"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-mixi"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-myopenid"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-netlog"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-flickr"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-blogger"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-verisign"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-wordpress"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-hyves"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-linkedin"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-paypal"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-salesforce"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-orkut"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-vzn"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-foursquare"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-sinaweibo"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-renren"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-soundcloud"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-tumblr"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-disqus"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-vk"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-email"></span>
        <span class="janrain-provider-icon-16 janrain-provider-icon-placeholder"></span>
      </div>
  </div>
  <h2 class="section">Legacy Provider Icons</h2>
  <div class="grid-block">
    <div class="col_8">
      <h4>150 x 50 (class="janrain-provider150-*")</h4>
        <span class="janrain-provider150-facebook"></span>
        <span class="janrain-provider150-twitter"></span>
        <span class="janrain-provider150-myspace"></span>
        <span class="janrain-provider150-microsoftaccount"></span>
        <span class="janrain-provider150-yahoo"></span>
        <span class="janrain-provider150-google"></span>
        <span class="janrain-provider150-openid"></span>
        <span class="janrain-provider150-aol"></span>
        <span class="janrain-provider150-livejournal"></span>
        <span class="janrain-provider150-mixi"></span>
        <span class="janrain-provider150-myopenid"></span>
        <span class="janrain-provider150-netlog"></span>
        <span class="janrain-provider150-flickr"></span>
        <span class="janrain-provider150-blogger"></span>
        <span class="janrain-provider150-verisign"></span>
        <span class="janrain-provider150-wordpress"></span>
        <span class="janrain-provider150-hyves"></span>
        <span class="janrain-provider150-linkedin"></span>
        <span class="janrain-provider150-paypal"></span>
        <span class="janrain-provider150-salesforce"></span>
        <span class="janrain-provider150-orkut"></span>
        <span class="janrain-provider150-vzn"></span>
        <span class="janrain-provider150-foursquare"></span>
        <span class="janrain-provider150-sinaweibo"></span>
        <span class="janrain-provider150-renren"></span>
        <span class="janrain-provider150-soundcloud"></span>
        <span class="janrain-provider150-tumblr"></span>
        <span class="janrain-provider150-vk"></span>
        <span class="janrain-provider150-disqus"></span>
      </div>
      <div class="col_4">
        <h4>100 x 30 (class="janrain-provider100-*")</h4>
        <span class="janrain-provider100-facebook"></span>
        <span class="janrain-provider100-google"></span>
        <span class="janrain-provider100-linkedin"></span>
        <span class="janrain-provider100-myspace"></span>
        <span class="janrain-provider100-twitter"></span>
        <span class="janrain-provider100-microsoftaccount"></span>
        <span class="janrain-provider100-yahoo"></span>
        <span class="janrain-provider100-aol"></span>
        <span class="janrain-provider100-blogger"></span>
        <span class="janrain-provider100-flickr"></span>
        <span class="janrain-provider100-hyves"></span>
        <span class="janrain-provider100-livejournal"></span>
        <span class="janrain-provider100-mixi"></span>
        <span class="janrain-provider100-myopenid"></span>
        <span class="janrain-provider100-netlog"></span>
        <span class="janrain-provider100-openid"></span>
        <span class="janrain-provider100-verisign"></span>
        <span class="janrain-provider100-wordpress"></span>
        <span class="janrain-provider100-paypal"></span>
        <span class="janrain-provider100-salesforce"></span>
        <span class="janrain-provider100-orkut"></span>
        <span class="janrain-provider100-vzn"></span>
        <span class="janrain-provider100-foursquare"></span>
        <span class="janrain-provider100-sinaweibo"></span>
        <span class="janrain-provider100-renren"></span>
        <span class="janrain-provider100-soundcloud"></span>
        <span class="janrain-provider100-tumblr"></span>
        <span class="janrain-provider100-vk"></span>
        <span class="janrain-provider100-disqus"></span>
      </div>
    </div>
    <div class="grid-block">
        <div class="col_12">
        <pre class="brush: html; toolbar: false">
        <!-- # = 48, 32, 24, 16 (size of icon) !-->
        <span class="janrain-provider-{size} janrain-provider-icon-{provider}"></span>
         <!-- # = 150, 100 (size of icon) !-->
       <span class="janrain-provider150-{provider}"></span>
        <span class="janrain-provider100-{provider}"></span>
</pre>
      </div>
      </div>

    <div class="grid-block">
        <div class="col_3">
        <h4>Provider Background Colors</h4>
          <div class="janrain-provider-bg-color-provider">
            <div class="janrain-provider-bg-color-facebook">Facebook</div>
            <div class="janrain-provider-bg-color-google">Google</div>
            <div class="janrain-provider-bg-color-instagram">Instagram</div>
            <div class="janrain-provider-bg-color-linkedin">LinkedIn</div>
            <div class="janrain-provider-bg-color-myspace">Myspace</div>
            <div class="janrain-provider-bg-color-twitter">Twitter</div>
            <div class="janrain-provider-bg-color-microsoftaccount">Microsoft Account</div>
            <div class="janrain-provider-bg-color-live_id">Live ID</div>
            <div class="janrain-provider-bg-color-yahoo">Yahoo!</div>
            <div class="janrain-provider-bg-color-amazon">Amazon</div>
            <div class="janrain-provider-bg-color-aol">AOL</div>
            <div class="janrain-provider-bg-color-blogger">Blogger</div>
            <div class="janrain-provider-bg-color-flickr">Flickr</div>
            <div class="janrain-provider-bg-color-hyves">Hyves</div>
            <div class="janrain-provider-bg-color-livejournal">LiveJournal</div>
            <div class="janrain-provider-bg-color-mixi">Mixi</div>
            <div class="janrain-provider-bg-color-myopenid">MyOpenID</div>
            <div class="janrain-provider-bg-color-netlog">Netlog</div>
            <div class="janrain-provider-bg-color-openid">OpenID</div>
            <div class="janrain-provider-bg-color-verisign">VeriSign</div>
            <div class="janrain-provider-bg-color-wordpress">WordPress</div>
            <div class="janrain-provider-bg-color-paypal">PayPal</div>
            <div class="janrain-provider-bg-color-salesforce">Salesforce</div>
            <div class="janrain-provider-bg-color-orkut">Orkut</div>
            <div class="janrain-provider-bg-color-vzn">VZnet</div>
            <div class="janrain-provider-bg-color-foursquare">Foursquare</div>
            <div class="janrain-provider-bg-color-sinaweibo">Sina Weibo</div>
            <div class="janrain-provider-bg-color-renren">Renren</div>
            <div class="janrain-provider-bg-color-soundcloud">SoundCloud</div>
            <div class="janrain-provider-bg-color-tumblr">Tumblr</div>
            <div class="janrain-provider-bg-color-disqus">Disqus</div>
            <div class="janrain-provider-bg-color-vk">VK</div>
            <div class="janrain-provider-bg-color-email">Email</div>
          </div>
        </div>
          <div class="col_3">
            <h4>Provider Text/Link Colors</h4>
            <ul class="unstyled provider-text">
              <li><a href="#" class="janrain-provider-text-color-facebook">Facebook</a></li>
              <li><a href="#" class="janrain-provider-text-color-google">Google</a></li>
              <li><a href="#" class="janrain-provider-text-color-instagram">Instagram</a></li>
              <li><a href="#" class="janrain-provider-text-color-linkedin">LinkedIn</a></li>
              <li><a href="#" class="janrain-provider-text-color-myspace">Myspace</a></li>
              <li><a href="#" class="janrain-provider-text-color-twitter">Twitter</a></li>
              <li><a href="#" class="janrain-provider-text-color-microsoftaccount">Microsoft Account</a></li>
              <li><a href="#" class="janrain-provider-text-color-live_id">Live ID</a></li>
              <li><a href="#" class="janrain-provider-text-color-yahoo">Yahoo!</a></li>
              <li><a href="#" class="janrain-provider-text-color-amazon">Amazon</a></li>
              <li><a href="#" class="janrain-provider-text-color-aol">AOL</a></li>
              <li><a href="#" class="janrain-provider-text-color-blogger">Blogger</a></li>
              <li><a href="#" class="janrain-provider-text-color-flickr">Flickr</a></li>
              <li><a href="#" class="janrain-provider-text-color-hyves">Hyves</a></li>
              <li><a href="#" class="janrain-provider-text-color-livejournal">LiveJournal</a></li>
              <li><a href="#" class="janrain-provider-text-color-mixi">Mixi</a></li>
              <li><a href="#" class="janrain-provider-text-color-myopenid">MyOpenID</a></li>
              <li><a href="#" class="janrain-provider-text-color-netlog">Netlog</a></li>
              <li><a href="#" class="janrain-provider-text-color-openid">OpenID</a></li>
              <li><a href="#" class="janrain-provider-text-color-verisign">VeriSign</a></li>
              <li><a href="#" class="janrain-provider-text-color-wordpress">WordPress</a></li>
              <li><a href="#" class="janrain-provider-text-color-paypal">PayPal</a></li>
              <li><a href="#" class="janrain-provider-text-color-salesforce">Salesforce</a></li>
              <li><a href="#" class="janrain-provider-text-color-orkut">Orkut</a></li>
              <li><a href="#" class="janrain-provider-text-color-vzn">VZnet</a></li>
              <li><a href="#" class="janrain-provider-text-color-foursquare">Foursquare</a></li>
              <li><a href="#" class="janrain-provider-text-color-sinaweibo">Sina Weibo</a></li>
              <li><a href="#" class="janrain-provider-text-color-renren">Renren</a></li>
              <li><a href="#" class="janrain-provider-text-color-soundcloud">SoundCloud</a></li>
              <li><a href="#" class="janrain-provider-text-color-tumblr">Tumblr</a></li>
              <li><a href="#" class="janrain-provider-text-color-disqus">Disqus</a></li>
              <li><a href="#" class="janrain-provider-text-color-vk">VK</a></li>
              <li><a href="#" class="janrain-provider-text-color-email">Email</a></li>
            </ul>
          </div>
          <div class="col_6">
            <h4>Provider Text Color Buttons</h4>
            <ul class="unstyled provider-buttons">
              <li><a class="widget_btn janrain-provider-text-color-facebook"><span class="janrain-provider-icon-32 janrain-provider-icon-facebook"></span><span>Facebook</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-google"><span class="janrain-provider-icon-32 janrain-provider-icon-google"></span><span>Google</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-instagram"><span class="janrain-provider-icon-32 janrain-provider-icon-instagram"></span><span>Instagram</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-linkedin"><span class="janrain-provider-icon-32 janrain-provider-icon-linkedin"></span><span>LinkedIn</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-myspace"><span class="janrain-provider-icon-32 janrain-provider-icon-myspace"></span><span>Myspace</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-twitter"><span class="janrain-provider-icon-32 janrain-provider-icon-twitter"></span><span>Twitter</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-microsoftaccount"><span class="janrain-provider-icon-32 janrain-provider-icon-microsoftaccount"></span><span>Microsoft Account</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-live_id"><span class="janrain-provider-icon-32 janrain-provider-icon-live_id"></span><span>Live ID</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-yahoo"><span class="janrain-provider-icon-32 janrain-provider-icon-yahoo"></span><span>Yahoo!</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-amazon"><span class="janrain-provider-icon-32 janrain-provider-icon-amazon"></span><span>Amazon</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-aol"><span class="janrain-provider-icon-32 janrain-provider-icon-aol"></span><span>AOL</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-blogger"><span class="janrain-provider-icon-32 janrain-provider-icon-blogger"></span><span>Blogger</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-flickr"><span class="janrain-provider-icon-32 janrain-provider-icon-flickr"></span><span>Flickr</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-hyves"><span class="janrain-provider-icon-32 janrain-provider-icon-hyves"></span><span>Hyves</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-livejournal"><span class="janrain-provider-icon-32 janrain-provider-icon-livejournal"></span><span>LiveJournal</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-mixi"><span class="janrain-provider-icon-32 janrain-provider-icon-mixi"></span><span>Mixi</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-myopenid"><span class="janrain-provider-icon-32 janrain-provider-icon-myopenid"></span><span>MyOpenID</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-netlog"><span class="janrain-provider-icon-32 janrain-provider-icon-netlog"></span><span>Netlog</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-openid"><span class="janrain-provider-icon-32 janrain-provider-icon-openid"></span><span>OpenID</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-verisign"><span class="janrain-provider-icon-32 janrain-provider-icon-verisign"></span><span>VeriSign</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-wordpress"><span class="janrain-provider-icon-32 janrain-provider-icon-wordpress"></span><span>WordPress</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-paypal"><span class="janrain-provider-icon-32 janrain-provider-icon-paypal"></span><span>PayPal</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-salesforce"><span class="janrain-provider-icon-32 janrain-provider-icon-salesforce"></span><span>Salesforce</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-orkut"><span class="janrain-provider-icon-32 janrain-provider-icon-orkut"></span><span>Orkut</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-vzn"><span class="janrain-provider-icon-32 janrain-provider-icon-vzn"></span><span>VZnet</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-foursquare"><span class="janrain-provider-icon-32 janrain-provider-icon-foursquare"></span><span>Foursquare</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-sinaweibo"><span class="janrain-provider-icon-32 janrain-provider-icon-sinaweibo"></span><span>Sina Weibo</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-renren"><span class="janrain-provider-icon-32 janrain-provider-icon-renren"></span><span>Renren</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-soundcloud"><span class="janrain-provider-icon-32 janrain-provider-icon-soundcloud"></span><span>SoundCloud</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-tumblr"><span class="janrain-provider-icon-32 janrain-provider-icon-tumblr"></span><span>Tumblr</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-disqus"><span class="janrain-provider-icon-32 janrain-provider-icon-disqus"></span><span>Disqus</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-vk"><span class="janrain-provider-icon-32 janrain-provider-icon-vk"></span><span>VK</span></a></li>
              <li><a class="widget_btn janrain-provider-text-color-email"><span class="janrain-provider-icon-32 janrain-provider-icon-email"></span><span>Email</span></a></li>
            </ul>
          </div>
    </div>
    <div class="col_12">
      <h4>Get the code</h4>
      <pre class="brush: html; toolbar: false">
        <!-- The class "{provider-name}-bg-color" changes the background color. !-->
        <div class="janrain-provider-bg-color-janrain">Facebook</div>
        <!-- Text and link colors !-->
        <p class="janrain-provider-text-color-facebook">Facebook text color.</p>
        <!-- To get provider link colors !-->
        <a href="#" class="facebook-text-color">Facebook link color.</a>
        <!-- To get provider buttons with provider background color !-->
        <a class="btn janrain-provider-bg-color-facebook">Facebook</a>
        <!-- or !-->
        <button class="btn janrain-provider-bg-color-facebook">Facebook</button>
        <!-- To get standard button with provider text color !-->
        <a class="btn standard"><span class="janrain-provider-text-color-facebook">Facebook</span></a>
        <!-- or !-->
        <button class="btn standard"><span class="janrain-provider-text-color-facebook">Facebook</span></button></pre>
    </div>
  </div>
</div>

