<%= render 'tabnav' %>
<div class="wrapper section">
	<h2>Buttons</h2>
	<div class="grid-block clearfix section mt40">
		<div class="col_3">
			<h3>Standard Buttons</h3>
			<button class="btn primary">Primary</button><br />
			<button class="btn standard">Standard</button><br />
			<button class="btn success">Success</button><br />
			<button class="btn alert">Alert</button><br />
			<button class="btn btn_disabled standard">Disabled</button>
	<!--		<h3>Large Buttons</h3>
			<button class="btn primary btn_large">Primary</button><br />
			<button class="btn standard btn_large">Standard</button><br />
	!-->
			<h3>Small Buttons</h3>
			<button class="btn primary btn_small">Primary</button><br />
			<button class="btn standard btn_small">Standard</button><br />
			<h3>Glow Buttons</h3>
			<button class="btn primary glow">Primary</button><br />
			<button class="btn standard glow">Standard</button><br />
			<h3>Icon Buttons</h3>
			<button class="btn primary icon" href="#"><span class="janrain-icon-down janrain-icon-16"></span><span class="btn-label">Download</span></button><br />
			<button class="btn standard icon" href="#"><span class="janrain-icon-up janrain-icon-16"></span><span class="btn-label">Upload</span></button><br />
			<button class="btn standard icon" href="#"><span class="janrain-icon-back janrain-icon-16"></span><span class="btn-label">Back</span></button><br />
			<button class="btn success icon" href="#"><span class="janrain-icon-check janrain-icon-16"></span><span class="btn-label">Success</span></button><br />
			<button class="btn alert icon" href="#"><span class="janrain-icon-alert janrain-icon-16"></span><span class="btn-label">Alert</span></button><br />
			<button class="btn primary square" href="#"><span class="janrain-icon-pencil janrain-icon-16"></span></button><br />
			<h3>Go Buttons</h3>
			<a href="#" class="btn_go">Go</a>
			<a href="#" class="btn_go">Capture</a>
			<h3>Button Links</h3>
			<a href="#" class="btn_link">link</a> or <a href="" class="btn_link"><span class="janrain-icon-16 janrain-icon-conversation"></span>link with icon</a>
			<h3>Widget Buttons</h3>
			<a href="#" class="widget_btn janrain-provider-text-color-facebook">
				<span class="janrain-provider-icon-16 janrain-provider-icon-facebook"></span>
				Facebook
			</a>
			<a href="#" class="widget_btn janrain-provider-text-color-twitter">
				<span class="janrain-provider-icon-16 janrain-provider-icon-twitter"></span>
				Facebook
			</a>
		</div>
		<div class="col_9">
			<h3>Get the code</h3>
			<pre class="brush: html; toolbar: false;">
			<!-- Standard Buttons -->
			<button class="btn primary">Primary</button><br />
			<button class="btn standard">Standard</button><br />
			<button class="btn success">Success</button><br />
			<button class="btn alert">Alert</button><br />
			<button class="btn btn_disabled standard">Disabled</button><br />
			<!-- Small Buttons !-->
			<button class="btn primary btn_small">Primary</button><br />
			<button class="btn standard btn_small">Standard</button><br />
			<!-- Glow Buttons !-->
			<button class="btn primary glow">Primary</button><br />
			<button class="btn standard glow">Standard</button><br />
			<!-- Icon Buttons !-->
			<button class="btn primary icon" href="#"><span class="janrain-icon-down janrain-icon-16"></span><span class="btn-label">Download</span></button><br />
			<button class="btn standard icon" href="#"><span class="janrain-icon-up janrain-icon-16"></span><span class="btn-label">Upload</span></button><br />
			<button class="btn standard icon" href="#"><span class="janrain-icon-back janrain-icon-16"></span><span class="btn-label">Back</span></button><br />
			<button class="btn success icon" href="#"><span class="janrain-icon-check janrain-icon-16"></span><span class="btn-label">Success</span></button><br />
			<button class="btn alert icon" href="#"><span class="janrain-icon-alert janrain-icon-16"></span><span class="btn-label">Alert</span></button><br />
			<button class="btn primary square" href="#"><span class="janrain-icon-pencil janrain-icon-16"></span></button><br />
			<!-- Go Buttons !-->
			<a href="#" class="btn_go">Go</a>
			<a href="#" class="btn_go">Capture</a>
			<!-- Button Links !-->
			<a href="#" class="btn_link">link</a> or <a href="" class="btn_link"><span class="janrain-icon-16 janrain-icon-conversation"></span>link with icon</a>
			<!-- Widget Buttons !-->
			<a href="#" class="widget_btn janrain-provider-text-color-facebook">
				<span class="janrain-provider-icon-16 janrain-provider-icon-facebook"></span>
				Facebook
			</a>
			<a href="#" class="widget_btn janrain-provider-text-color-twitter">
				<span class="janrain-provider-icon-16 janrain-provider-icon-twitter"></span>
				Facebook
			</a>
		</div>
	</div>
</div>
