<%= render 'tabnav' %>
<div class="wrapper section">
	<h2>Alerts &amp; Errors</h2>
	<div class="grid-block clearfix section mt40">
		<div class="col_6">
			<h4>Styles for success, warning, and error messages or alerts.</h4>
			<div class="message primary"><span class="message-arrow"></span>Primary</div>
			<div class="message standard"><span class="message-arrow"></span>Standard</div>
			<div class="message success"><span class="message-arrow"></span>Success</div>
			<div class="message alert"><span class="message-arrow"></span>Alert</div>
			<div class="message warning"><span class="message-arrow"></span>Error</div>
			<h4>Arrow styles</h4>
			<div class="message primary"><span class="message-arrow"></span>No class - standard bottom left arrow</div>
			<div class="message standard"><span class="message-arrow message-bottom-right-arrow"></span>class="message-bottom-right-arrow"</div>
			<div class="message success"><span class="message-arrow message-top-left-arrow"></span>class="message-top-left-arrow"</div>
			<div class="message alert"><span class="message-arrow message-top-right-arrow"></span>class="message-top-right-arrow"</div>
			<h4>Icons</h4>
			<div class="message primary icon"><span class="message-arrow"></span><span class="janrain-icon-info janrain-icon-16"></span>Primary</div>
			<div class="message standard icon"><span class="message-arrow"></span><span class="janrain-icon-question janrain-icon-16"></span>Standard</div>
			<div class="message success icon"><span class="message-arrow"></span><span class="janrain-icon-check janrain-icon-16"></span>Success</div>
			<div class="message alert icon"><span class="message-arrow"></span><span class="janrain-icon-alert janrain-icon-16"></span>Alert</div>
			<div class="message warning icon"><span class="message-arrow"></span><span class="janrain-icon-error janrain-icon-16"></span>Error</div>
		</div>
		<div class="col_6">
			<h4>Get the code</h4>
			<pre class="brush: html; toolbar: false;">
			<div class="message primary">
				<span class="message-arrow"></span>Primary</div>
			<div class="message standard">
				<span class="message-arrow"></span>Standard</div>
			<div class="message success">
				<span class="message-arrow"></span>Success</div>
			<div class="message alert">
				<span class="message-arrow"></span>Alert</div>
			<div class="message warning">
				<span class="message-arrow"></span>Error</div>
			<!-- With Icons !-->
			<div class="message primary icon">
				<span class="message-arrow"></span>
				<span class="janrain-icon-info janrain-icon-16"></span>Primary</div>
			<div class="message standard icon">
				<span class="message-arrow"></span>
				<span class="janrain-icon-question janrain-icon-16"></span>Standard</div>
			<div class="message success icon">
				<span class="message-arrow"></span>
				<span class="janrain-icon-check janrain-icon-16"></span>Success</div>
			<div class="message alert icon">
				<span class="message-arrow"></span>
				<span class="janrain-icon-alert janrain-icon-16"></span>Alert</div>
			<div class="message warning icon">
				<span class="message-arrow"></span>
				<span class="janrain-icon-error janrain-icon-16"></span>Error</div></pre>
		</div>
	</div>
</div>

