<div class="section mt40">
    <h3>Tab Layout</h3>
    <div class="grid-block tabs">
        <div class="col_3">
            <ul class="tabs-list">
                <li class="tab"><a href="#facebook">Facebook</a></li>
                <li class="tab"><a href="#google">Google</a></li>
                <li class="tab"><a href="#twitter">Twitter</a></li>
            </ul>
        </div>
        <div class="col_9">
            <div id="provider-settings">
                <div id="facebook">
                       <div class="contentBoxWhiteShadow noise">
                        <h5>Facebook</h5>
                           <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       </div>
                </div>
                <div id="google">
                       <div class="contentBoxWhiteShadow noise">
                           <h5>Google</h5>
                           <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       </div>
                </div>
                <div id="twitter">
                       <div class="contentBoxWhiteShadow noise">
                           <h5>Twitter</h5>
                           <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       </div>
                </div>
            </div>
        </div>
    </div>
    <h3>Get the code</h3>
    <pre class="brush: html; toolbar: false">
    <div class="grid-block tabs">
        <div class="col_3">
            <ul class="tabs-list">
                <li class="tab"><a href="#facebook">Facebook</a></li>
                <li class="tab"><a href="#google">Google</a></li>
                <li class="tab"><a href="#twitter">Twitter</a></li>
            </ul>
        </div>
        <div class="col_9">
            <div id="provider-settings">
                <div id="facebook">
                    <div class="contentBoxWhiteShadow">
                           <h5>Facebook</h5>
                       </div>
                       <div class="contentBoxWhiteShadow noise section">
                           <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       </div>
                </div>
                <div id="google">
                    <div class="contentBoxWhiteShadow">
                           <h5>Google</h5>
                       </div>
                       <div class="contentBoxWhiteShadow noise section">
                           <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       </div>
                </div>
                <div id="twitter">
                    <div class="contentBoxWhiteShadow">
                           <h5>Twitter</h5>
                       </div>
                       <div class="contentBoxWhiteShadow noise section">
                           <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                       </div>
                </div>
            </div>
        </div>
    </div>
    </pre>
</div>