<div class="section mt40">
  <h3>Title Nav Bar</h3>
	<div class="title-bar title-bar-blue-transparent">
    <div class="grid-block">
      <div class="col_9">
      <ul class="tag-filter">
        <li class="active"><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
      </ul>
    </div>
    <div class="col_31">
      <div class="grid-block">
          <form class="title-nav-search">
            <div class="col_9">
               <input type="text" class="search-input input_text" value="Search"/>
             </div>
             <div class="col_3 rightText">
               <button type="submit" class="btn standard square" value=""><span class="janrain-icon-search janrain-icon-16"></span></button>
            </div>
          </form>
    </div>
  </div>
</div>
</div>
	<h3>Step Title Bar</h3>
  <div class="step-bar title-bar-dark">
    <div class="steps">
      <ul class="step">
        <li><a href="#">Step 1</a></li>
        <li class="active"><a href="#">Step 2</a></li>
        <li><a href="#">Step 3</a></li>
        <li><a href="#">Step 4</a></li>
      </ul>
    </div>
  </div>

  <div class="step-bar title-bar-blue has-sub">
    <div class="steps">
      <ul class="step">
        <li><a href="#">Step 1</a></li>
        <li class="active"><a href="#">Step 2</a></li>
        <li><a href="#">Step 3</a></li>
        <li><a href="#">Step 4</a></li>
      </ul>
    </div>
  </div>
  <div class="subnav-bar">Something</div>
	<h3>Title Bar</h3>
  <div class="title-bar title-bar-dark">
    <div class="grid-block">
      <div class="col_6">
      <div class="title-nav">
        <a class="btn standard square" href="#"><span class="janrain-icon-back janrain-icon-16"></span></a>
        <span class="nav-label">Title</span>
      </div>
    </div>
    <div class="col_6 rightText">
      <div class="title-nav">
        <div class="radio-toggle">
          <span class="radio"><input type="radio" class="toggle-item" id="toggle1" name="toggle"  /><label for="toggle1" class="standard square"><span class="janrain-icon-desktop janrain-icon-16"></span></label></span>
          <span class="radio"><input type="radio" class="toggle-item" id="toggle2" name="toggle" checked="yes" /><label for="toggle2" class="standard square"><span class="janrain-icon-tablet janrain-icon-16"></span></label></span>
          <span class="radio"><input type="radio" class="toggle-item" id="toggle3" name="toggle" /><label for="toggle3" class="standard square"><span class="janrain-icon-phone janrain-icon-16"></span></label></span>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="title-bar title-bar-light">
    <div class="grid-block">
      <div class="col_6">
       <p>Some text goes here.</p>
    </div>
      <div class="col_6 rightText">
        <a href="#" class="btn_go">Button</a>
    </div>
  </div>
</div>

  <div class="title-bar title-bar-dark">
    <div class="grid-block">
      <div class="col_6">
      <div class="title-nav">
        <a class="btn standard square" href="#"><span class="janrain-icon-back janrain-icon-16"></span></a>
        <span class="nav-label">Title</span>
      </div>
    </div>
      <div class="col_6 rightText">
      <button class="primary btn"><b>Action</b></button>
    </div>
  </div>
</div>
	<h3>Title Bar w/ sub nav</h3>
  <div class="title-bar title-bar-dark has-sub">
    <div class="grid-block">
      <div class="col_6">
      <div class="title-nav">
        <a class="btn standard square" href="#"><span class="janrain-icon-back janrain-icon-16"></span></a>
        <span class="nav-label">Title</span>
      </div>
    </div>
    <div class="col_6 rightText">
      <div class="title-nav">
        <div class="inline nav-label">
          <span class="janrain-icon-info janrain-icon-16"></span>
          <span class="info">Here is some information about things.</span>
        </div>
        <button class="primary btn"><b>Action</b></button>
      </div>
    </div>
  </div>
</div>
  <h3>Footer Bar</h3>
  <div class="title-bar-footer">
    <div class="grid-block">
    <div class="col_12 rightText">
     <span class="inline">Here is some text.</span>
      <div class="title-nav inline">
        <div class="radio-toggle">
          <span class="radio"><input type="radio" class="toggle-item" id="footer-toggle1" name="toggle2"  /><label for="footer-toggle1" class="standard square"><span class="janrain-icon-cloud janrain-icon-16"></span></label></span>
          <span class="radio"><input type="radio" class="toggle-item" id="footer-toggle2" name="toggle2" checked="yes" /><label for="footer-toggle2" class="standard square"><span class="janrain-icon-code janrain-icon-16"></span></label></span>
        </div>
      </div>
      <button class="primary btn"><b>Action</b></button>
    </div>
  </div>
  </div>
</div>