<div class="grid-block section mt40">
  <div class="col_3">
  <h3>Accordion Style</h3>
    <ul class="accordion">
      <li class="accordion-item">
        <div class="title">Accordion 1</div>
        <div class="accordion-info">Stuff to display in here.</div>
      </li>

      <li class="accordion-item">
        <div class="title">Accordion 2</div>
        <div class="accordion-info">Stuff to display in here. 2</div>
      </li>

      <li class="accordion-item">
        <div class="title">Accordion 3</div>
        <div class="accordion-info">Stuff to display in here. 3</div>
      </li>
    </ul>
  </div>

  <div class="col_3">
  <h3>List Style</h3>
      <ul class="list">
        <li>List Item 1</li>
        <li><span class="janrain-icon-info janrain-icon-16"></span>List Item 2</li>
        <li>List Item 3</li>
      </ul>
  </div>

  <div class="col_3">
  <h3>Provider List Style</h3>
    <ul class="provider list">
        <li><span class="janrain-provider-icon-16 janrain-provider-icon-facebook"></span><span class="name">Facebook</span></li>
        <li><span class="janrain-provider-icon-16 janrain-provider-icon-google"></span><span class="name">Google</span></li>
        <li><span class="janrain-provider-icon-16 janrain-provider-icon-linkedin"></span><span class="name">LinkedIn</span></li>
        <li><span class="janrain-provider-icon-16 janrain-provider-icon-myspace"></span><span class="name">MySpace</span></li>
        <li><span class="janrain-provider-icon-16 janrain-provider-icon-twitter"></span><span class="name">Twitter</span></li>
        <li><span class="janrain-provider-icon-16 janrain-provider-icon-microsoftaccount"></span><span class="name">Microsoft Account</span></li>
        <li><span class="janrain-provider-icon-16 janrain-provider-icon-yahoo"></span><span class="name">Yahoo</span></li>
        <li><span class="janrain-provider-icon-16 janrain-provider-icon-aol"></span><span class="name">AOL</span></li>
      </ul>
  </div>
  <div class="col_3">
    <h3>Quick Links Style</h3>
    <ul class="quick-links">
      <li>
        <a href="#">
          <span class="janrain-icon-info janrain-icon-16"></span>
          <h3>Help</h3>
          Get the most out of the dashboard.
        </a>
      </li>
    </ul>
  </div>

</div>