<div class="section">
<h2>Text Styles</h2>
	<div class="grid-block section mt40">
		<div class="col_3">
			<h3>Headings &amp; copy</h3>
			The entire typographic grid is based on two variables: @basefont and @baseline. The first is the base font-size used throughout and the second is the base line-height.</div>
		<div class="col_6">
			<h1>h1. Heading 1</h1>
			<h2>h2. Heading 2</h2>
			<h3>h3. Heading 3</h3>
			<h4>h4. Heading 4</h4>
			<h5>h5. Heading 5</h5>
		</div>
		<div class="col_3">
			<h3>Example paragraph</h3>
			<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id <a href="#">nibh ultricies vehicula</a> ut id elit.</p>
		</div>
	</div>
</div>
