<div class="wrapper section mt40">
	<h3>Admin Navigation</h3>
	<p>This navigation is for any internal dashboard or Janrain administrative dashboard that isn't customer facing.</p>
</div>
<div class="section">
		<div class="nav_bar admin">
			<div class="wrapper">
				<ul class="main_nav">
				    <li class="selected"><a href="#">Home</a></li>
					<li><a href="#">Nav Item 1</a></li>
					<li><a href="#">Nav Item 2</a></li>
					<li class="dropdown"><a href="#" class="dropdown-item">Dropdown</a>
						<div class="subnav-wrap">
							<span class="subnav-arrow"></span>
							<ul class="subnav">
								<li class="selected"><a href="#">Dropdown Item 1</a></li>
								<li><a href="#">Dropdown Item 2</a></li>
								<li class="action"><a href="#">Action Item</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
</div>
<div class="wrapper section">
	<div class="grid-block">
		<div class="col_12">
			<h3>Get The Code</h3>
			<pre class="brush :html">
				<div class="nav_bar admin">
					<div class="wrapper">
						<ul class="main_nav">
						    <li class="selected"><a href="#">Home</a></li>
							<li><a href="#">Nav Item 1</a></li>
							<li><a href="#">Nav Item 2</a></li>
							<li class="dropdown"><a href="#" class="dropdown-item">Dropdown</a>
								<div class="subnav-wrap">
									<span class="subnav-arrow"></span>
									<ul class="subnav">
										<li class="selected"><a href="#">Dropdown Item 1</a></li>
										<li><a href="#">Dropdown Item 2</a></li>
										<li class="action"><a href="#">Action Item</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</pre>
		</div>
	</div>
</div>