<div class="wrapper section mt40">
	<h3>Breadcrumb Navigation</h3>
	<p>This breadcrumb navigation is for any internal dashboard or Janrain administrative dashboard.</p>
    <div class="section">
    		<ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
          	<li><a href="#">Breadcrumb 1</a></li>
          	<li><a href="#">Breadcrumb 2</a></li>
          	<li><a href="#">Breadcrumb 3</a></li>
        </ul>	
    </div>
    <pre class="brush :html">
	<ul class="breadcrumbs">
      <li><a href="#">Home</a></li>
    	<li><a href="#">Breadcrumb 1</a></li>
    	<li><a href="#">Breadcrumb 2</a></li>
    	<li><a href="#">Breadcrumb 3</a></li>
    </ul></pre>
</div>
