<div class="wrapper section mt40">
	<h3>Global Navigation</h3>
	<p>This global navigation is used across all Janrain websites and dashboards.</p>
</div>
<div class="section">
	<div class="global_nav">
		<div class="wrapper">
		<a href="http://janrain.com" class="home_link"></a>
		<ul class="nav-list">
  	  	<li><a href="#">Blog</a></li>
  	  	<li><a class="selected" href="#">Developers</a></li>
  	  	<li><a href="#">Dashboard</a></li>
  	  	<li><a href="#">Sign In</a></li>
  	  	<li class="dropdown"><a href="#" class="dropdown-item"><span class="avatar"><!-- img src --></span>Kyle Simukka</a>
            <ul class="subnav">
	          <li><a href="#">Dropdown Item 1</a></li>
              <li><a href="#">Dropdown Item 2</a></li>
              <li><a href="#">Action Item</a></li>
            </ul>
        </li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper section">
	<div class="grid-block">
		<div class="col_12">
			<h3>Get The Code</h3>
			<pre class="brush :html">
				<div class="global_nav">
					<div class="wrapper">
						<a href="http://janrain.com" class="home_link"></a>
						<ul>
							<li><a href="#">Blog</a></li>
							<li><a class="selected" href="#">Developers</a></li>
							<li><a href="#">Dashboard</a></li>
							<li><a href="#">Sign In</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-item"><span class="avatar"><!-- img src --></span>Kyle Simukka</a>
								<div class="subnav-wrap">
									<span class="subnav-arrow"></span>
									<ul class="subnav">
										<li><a href="#">Dropdown Item 1</a></li>
										<li><a href="#">Dropdown Item 2</a></li>
										<li><a href="#">Action Item</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</pre>
		</div>
	</div>
</div>
<div class="wrapper section mt40">
	<h3>Default Navigation</h3>
	<p>The primary navigation for any dashboard applications. This navigation needs to be the top aligned with full width.</p>
</div>
<div class="section">
		<div class="nav_bar" class="clearfix">
			<div class="wrapper">
				<ul class="main_nav">
				  <li class="selected"><a href="#">Home</a></li>
					<li><a href="#">Nav Item 1</a></li>
					<li><a href="#">Nav Item 2</a></li>
				</ul>
    	</div>
		</div>
</div>
<div class="wrapper section">
	<h3>Default On Dark Background</h3>
	<p>Uses a dark arrow when the nav bar has a dark background</p>
</div>

<!-- dark arrow addon -->
<div class="wrapper">
	<div class="contentBoxDarkBlueTexture">
		<div class="nav_bar">
			<ul class="main_nav dark_arrow">
			    <li class="selected"><a href="#">Home</a></li>
				<li><a href="#">Nav Item 1</a></li>
				<li><a href="#">Nav Item 2</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- end dark arrow addon -->
<div class="wrapper section">
	<div class="grid-block">
		<div class="col_12">
			<h3>Get The Code</h3>
			<pre class="brush :html">
				<div class="nav_bar">
					<ul class="main_nav dark_arrow">
					    <li class="selected"><a href="#">Home</a></li>
						<li><a href="#">Nav Item 1</a></li>
						<li><a href="#">Nav Item 2</a></li>
					</ul>
				</div>
			</pre>
			</div>
		<!-- dropdown addon -->
		<div class="col_12">
			<h3>Dropdown </h3>
			<p>Add a subnav element to any nav element.</p>
			<div class="nav_bar">
				<ul class="main_nav">
					<li><a href="#">Item 1</a></li>
					<li class="dropdown"><a href="#" class="dropdown-item">Dropdown</a>
						<ul class="subnav">
							<li class="selected"><a href="#">Dropdown Item 1</a></li>
							<li><a href="#">Dropdown Item 2</a></li>
							<li class="action"><a href="#">Action Item</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- end dropdown addon -->
		<div class="section col_12">
			<pre class="brush :html">
				<!-- Add class="dropdown" to li element and subnav !-->
				<ul class="subnav">
					<li class="selected"><a href="#">Dropdown Item 1</a></li>
					<li><a href="#">Dropdown Item 2</a></li>
					<li class="action"><a href="#">Action Item</a></li>
				</ul>
			</pre>
		</div>
		</div>
	</div>
</div>
