<div class="wrapper section">
  <h3>Dropdown Select</h3>
  <p>Used for replacing the standard select dropdown.</p>
</div>
<div class="wrapper">
  <div class="grid-block">
    <div class="col_3">
      <h3>Standard Style</h3>
      <ul class="select">
        <li class="dropdown"><a href="#" class="select-label">default option</a>
          <ul class="options">
            <li class="selected"><a href="#">selected</a></li>
              <li><a href="#">option one</a></li>
              <li><a href="#">option two</a></li>
              <li><a href="#">option three</a></li>
              <li><a href="#">option four</a></li>
              <li><a href="#">option five</a></li>
          </ul>
        </li>
       </ul>
       <h3>Alternate Style</h3>
       <ul class="select apps">
       <li class="dropdown"><a href="#" class="select-label">All Apps (4)</a>
              <ul class="options">
                <li><h5>Switch between apps</h5></li>
                <li class="selected"><a href="#">All Apps</a></li>
                <li><a href="#">nameofapp</a></li>
                <li><a href="#">anotherapp</a></li>
                <li><a href="#">somedevapp</a></li>
                <li><a href="#">popularproductionapp</a></li>
                <li class="action"><a href="#">Manage your apps</a></li>
              </ul>
          </li>
       </ul>
     </div>
     <div class="col_9">
      <pre class="brush :html">
      <ul class="select"> <!-- add extra class of 'apps' for alternate style !-->
        <li class="dropdown"><a class="select-label">default option</a>
          <ul class="options">
            <li class="selected"><a href="#">selected</a></li>
              <li><a href="#">option one</a></li>
              <li><a href="#">option two</a></li>
              <li><a href="#">option three</a></li>
              <li><a href="#">option four</a></li>
              <li><a href="#">option five</a></li>
          </ul>
        </li>
       </ul>
      </pre>
    </div>
  </div>
</div>