<div class="wrapper section mt40">
	<h3>Numbered Steps</h3>
	<p>This numbered step navigation is for any internal dashboard or Janrain administrative dashboard.</p>
    <div class="section">
    		<ul class="numbered_steps">
          	<li><a href="#"><span class="number">1</span>Step 1</a></li>
          	<li><a href="#"><span class="number">2</span>Step 2</a></li>
          	<li><a href="#"><span class="number">3</span>Step 3</a></li>
        </ul>	
    </div>
    <pre class="brush :html">
	<ul class="numbered_steps">
    	<li><a href="#"><span class="number">1</span>Step 1</a></li>
    	<li><a href="#"><span class="number">2</span>Step 2</a></li>
    	<li><a href="#"><span class="number">3</span>Step 3</a></li>
  </ul></pre>
</div>
