		<div class="section wrapper">
			<ul class="top_nav">
				<li><a href="#"><%= image_tag "logo_100x30.png" %></a></li>
    		<li><a href="#">Engage</a></li>
    		<li><a href="#">Capture</a></li>
    		<li class="selected"><a href="http://developers.janrain.com">Developers</a></li>
			</ul>
			<div class="nav_bar" class="developers">
					<ul class="main_nav">
					    <li class="selected"><a href="#">Home</a></li>
						<li><a href="#">Nav Item 1</a></li>
						<li><a href="#">Nav Item 2</a></li>
						<li class="dropdown"><a href="#" class="dropdown-item">Dropdown</a>
							<div class="subnav-wrap">
								<span class="subnav-arrow"></span>
								<ul class="subnav">
									<li class="selected"><a href="#">Dropdown Item 1</a></li>
									<li><a href="#">Dropdown Item 2</a></li>
									<li class="action"><a href="#">Action Item</a></li>
								</ul>
							</div>
						</li>			
					</ul>
			</div>
			<div id="tab_bar" class="developers">
				<ul class="tab_nav">
					<li class="label">Label</li>
					<li class="selected"><a href="#">Tab 1</a></li>
					<li><a href="#">Tab 2</a></li>
					<li><a href="#"><span class="inactive">Tab 3</span></a></li>
				</ul>
			</div>
		</div>