<div class="wrapper section mt40">
    <h3>Secondary Navigation</h3>
    <p>You can use this with the default navigation or the admin navigation.</p>
</div>
<div class="wrapper section">
    <div class="tab_bar">
        <ul class="tab_nav">
            <li class="label">Label</li>
            <li class="selected"><a href="#">Tab 1</a></li>
            <li><a href="#">Tab 2</a></li>
            <li><a href="#"><span class="inactive">Tab 3</span></a></li>
        </ul>
    </div>
    <div class="section contentBoxDarkBlueTexture">
        <p>Dark Seconday Navigation</p>
        <div class="tab_bar dark">
            <ul class="tab_nav">
                <li class="label">Label</li>
                <li class="selected"><a href="#">Tab 1</a></li>
                <li><a href="#">Tab 2</a></li>
                <li><a href="#"><span class="inactive">Tab 3</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper section">
    <div class="grid-block">
        <div class="col_12">
            <h3>Get The Code</h3>
            <pre class="brush :html">
            <div class="tab_bar">
                <ul class="tab_nav">
                    <li class="label">Label</li>
                    <li class="selected"><a href="#">Tab 1</a></li>
                    <li><a href="#">Tab 2</a></li>
                    <li><a href="#"><span class="inactive">Tab 3</span></a></li>
                </ul>
            </div>
            </pre>
        </div>
    </div>
</div>