<div class="wrapper section mt40">
  <h3>Task Steps</h3>
  <p>This numbered step navigation is for any internal dashboard or Janrain administrative dashboard.</p>
    <div class="section">
      <ul class="task_steps">
        <li class="label">Label</li>
        <li class="inactive"><a href="#"><span class="janrain-icon-check2 janrain-icon-16"></span>Inactive</a></li>
        <li class="link"><a href="#"><span class="step">2</span>Link</a></li>
        <li class="active"><a href="#"><span class="step">3</span>Active</a></li>
        <li class="done"><a href="#"><span class="janrain-icon-check2 janrain-icon-16"></span>Done</a></li>
      </ul>
    </div>
    <pre class="brush :html">
      <ul class="task_steps">
        <li class="label">Label</li>
        <li class="inactive"><a href="#"><span class="janrain-icon-check2 janrain-icon-16"></span>Inactive</a></li>
        <li class="link"><a href="#"><span class="step">2</span>Link</a></li>
        <li class="active"><a href="#"><span class="step">3</span>Active</a></li>
        <li class="done"><a href="#"><span class="janrain-icon-check2 janrain-icon-16"></span>Done</a></li>
      </ul>
    </pre>
</div>
