<div class="wrapper section mt40">
	<h3>Toggle Navigation</h3>
	<div class="section">
		<ul class="toggle-nav">
			<li class="dropdown"><a class="item" href="#">Toggle 1</a>
					<ul class="subnav">
						<li><a href="#" class="selected">Something</a></li>
						<li><a href="#">Something Else</a></li>
					</ul>
			</li>
			<li><a class="item" href="#">Toggle 2</a></li>
			<li class="active dropdown"><a class="item" href="#">Toggle with a long label</a>
					<ul class="subnav">
						<li><a href="#" class="selected">Something</a></li>
						<li><a href="#">Something Else</a></li>
					</ul>
			</li>
		</ul>
</div>
	<div class="section grid-block">
		<div class="col_12">
			<h3>Get The Code</h3>
			<pre class="brush :html">
				<ul class="toggle-nav">
					<li class="dropdown"><a class="item" href="#">Toggle 1</a>
						<div class="subnav-wrap">
							<ul class="subnav">
								<li><a href="#" class="selected">Something</a></li>
								<li><a href="#">Something Else</a></li>
							</ul>
						</div>
					</li>
					<li><a class="item" href="#">Toggle 2</a></li>
					<li class="active dropdown"><a class="item" href="#">Toggle 3</a>
						<div class="subnav-wrap">
							<span class="expanded-arrow"></span>
							<ul class="subnav">
								<li><a href="#" class="selected">Something</a></li>
								<li><a href="#">Something Else</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</pre>
		</div>
	</div>
</div>