<div class="section mt40">
	<h3>Data Table</h3>
	<div class="table_collapse">
	<ul>
	  <li class="first">
	    <span class="row">
	      <span class="name">Name</span>
	      <span class="type">Type</span>
	      <span class="value">Value</span>
	    </span>
	  </li>
	
	  <li>
	    <span class="row">
	      <span class="name">Name</span>
	      <span class="type">Type</span>
	      <span class="value">Value</span>
	    </span>
	    <ul class="editable_block">
			<li class="first">
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
	    <ul class="editable_block">
			<li class="first">
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
	    <ul class="editable_block">
			<li class="first">
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
			</li>
			<li>
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
			</li>
			<li class="bottom">
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
			</li>
		</ul>
	
			</li>
			<li>
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
			</li>
			<li class="bottom">
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
			</li>
		</ul>
			</li>
			<li>
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
			</li>
			<li class="bottom">
				<span class="row">
				<span class="name">Name</span>
				<span class="type">Type</span>
		        <span class="value">Value</span>
				</span>
			</li>
		</ul>
	  </li>
	  <li class="bottom">
	    <span class="row">
	      <span class="name">Name</span>
	      <span class="type">Type</span>
	      <span class="value">Value</span>
	    </span>
	  </li>
	</ul>
</div>
</div>