<div class="section mt40">
	<h3>Single Column Listings</h3>
	<div class="single-listing">
		<div class="grid-block clearfix">
			<div class="col_4">
				<a href="#" class="view">view ?</a>
				<h3>Listing 1</h3>
				<ul class="unstyled">
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</div>
			<div class="col_4">
				<a href="#" class="view">view ?</a>
				<h3>Listing 2</h3>
				<ul class="unstyled">
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</div>
			<div class="col_4">
				<a href="#" class="view">view ?</a>
				<h3>Listing 3</h3>
				<ul class="unstyled">
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
					<li>Item</li>
				</ul>
			</div>
		</div>
	</div>
</div>