<%= stylesheet_link_tag "tables", :media => "all" %>

<h2>Tables &amp; Listings</h2>
<div class="section">
  <div class="grid-block">
    <div class="col_3">
      <div class="form_item_inline">
        <label>Type:</label>
        <select class="input_select">
          <option selected="selected" value="option">option</option>
          <option value="option1">option1</option>
          <option value="option2">option2</option>
          <option value="option3">option3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="contentBoxWhiteShadow">
    <div class="grid-block">
      <div class="col_3">
        <select class="input_select">
          <option disabled="DISABLED"></option>
          <option value="option">option</option>
          <option value="option1">option1</option>
          <option value="option2">option2</option>
        </select>
        <label>filter label</label>
      </div>
      <div class="col_3">
        <select class="input_select">
          <option disabled="DISABLED"></option>
          <option value="option">option</option>
          <option value="option1">option1</option>
          <option value="option2">option2</option>
        </select>
        <label>filter label</label>
      </div>
      <div class="col_3">
        <input type="text" class="input_text" />
        <label>filter label</label>
      </div>
      <div class="col_3">
          <input type="submit" class="btn primary" value="Filter" id="filter" /><br />&nbsp;
      </div>
    </div>
  </div>
  <div class="matches">
      <strong>57</strong>
      out of 57 demo_user records match
  </div>
    <table class="data">
      <thead>
        <tr>
          <th>Heading1</th>
          <th>Heading2</th>
          <th>Heading3</th>
          <th>Heading4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>info</td>
          <td>info</td>
          <td>info</td>
          <td>info<a href="#" class="detail_link">view ?</a></td>
        </tr>
        <tr>
          <td>info</td>
          <td>info</td>
          <td>info</td>
          <td>info<a href="#" class="detail_link">view ?</a></td>
        </tr>
        <tr>
          <td>info</td>
          <td>info</td>
          <td>info</td>
          <td>info<a href="#" class="detail_link">view ?</a></td>
        </tr>
        <tr>
          <td>info</td>
          <td>info</td>
          <td>info</td>
          <td>info<a href="#" class="detail_link">view ?</a></td>
        </tr>
      </tbody>
    </table>
    <span class="showing">showing 1-20</span>
    <span class="show_more"><a href="">more</a></span>
</div>